body{
    font-family: rubik;
    background-color: #ebedf3;
}

h3{
    /* text-align: center; */
    /* color: #9b4c88;
    color: #4467c7;
    color: #03b683;
    color: #2E8B57;
    color: #3CB371;
    color: #90EE90; */
}

.device_wrap{
    display: flex;
    justify-content: space-between;
}

.device_info{
    margin-top: 3em;
}
.device_info div > *{
    margin-bottom: 0;
}
.field_name{
    font-size: 1em;
    font-weight: 400;
    color: #718096;
    margin-bottom: 0;
}

.list, .columns{
    display: grid;
    grid-template-columns: minmax(16em, 1fr) minmax(14em, 1fr) minmax(14em, 1fr) minmax(14em, 1fr);
    align-items: center;
    margin-bottom: 0.4em;
    font-size: 14px;
    color: #434953;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* border: 1px solid red; */
}

.list{
    border-radius: 0.3rem;
    border: 0.5px solid #d3dded;
    background-color: white; 
    gap: 1em;
}

.list div{
    /* border: 1px solid green; */
}

.columns > * {
    font-size: 1em;
    font-weight: 400;
    color: #718096;
    margin-bottom: 0;
    /* border: 1px solid green; */
}

.list div > *{
    /* line-height: 1.5; */
    margin-bottom: 0;
}

.bold{
    font-size: 1.2em;
    font-weight: 500;
}

menu {
    border-radius: 1rem !important;
    border: 0.5px solid #d3dded;
    padding-left: 0;
}

.navbar-brand > span{
    font-family: 'Indie Flower', cursive;
    font-size: 1.3em;
}

a, a:hover, a:visited {
    text-decoration: none;
}


@media (max-width: 990px) {
    .list {
        display: grid;
        grid-template-columns: minmax(14em, 1fr) 1fr;
        gap: 1em;
    }

    .columns{
        display: none;
    }
  }


