<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for drone in drones_in_NDZ.items %}
    {% comment %} <p>{{drone}}</p> {% endcomment %}
    <h4>{{drone.1.serialNumber}}</h4>
    <p>{{drone.1.model}}</p>
    <p>{{drone.1.manufacturer}}</p>
    <p>{{drone.1.mac}}</p>
    <p>{{drone.1.ipv4}}</p>
    <p>{{drone.1.ipv6}}</p>
    <p>{{drone.1.firmware}}</p>
    <p>{{drone.1.positionX}}</p>
    <p>{{drone.1.positionY}}</p>
    <p>{{drone.1.pilot.pilotId}}</p>
    <p>{{drone.1.pilot.firstName}}</p>
    <p>{{drone.1.pilot.lastName}}</p>
    <p>{{drone.1.pilot.phoneNumber}}</p>
    <p>{{drone.1.pilot.createdDt}}</p>
    <p>{{drone.1.pilot.email}}</p>

    {% endfor %}
</body>
</html>