{% load static %}
<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <title>Birdnest project</title>

	<script type="text/javascript">
		$(document).ready(function() {
			CanvasJS.addColorSet("greenShades",
                [
				"#4467c7",
				"#9b4c88",
                "#03b683",
                "#008080",
                "#2E8B57",
                "#3CB371",
                "#90EE90"                
                ]);
			var chart = new CanvasJS.Chart("chartContainer", {
				animationEnabled: true,
				animationDuration: 300,
				// title:{
				// 	text: ""
				// },
				colorSet:  "greenShades",
				backgroundColor: "#ebedf3",
				axisX: {
					// title:"",
					minimum: 0,
					maximum: 500,
					viewportMinimum: 0,
					viewportMaximum: 500,
					gridThickness: 0.8,
					margin: 18,
					interval: 50,
					
				},
				axisY: {
					// title:"",
					// includeZero: true,
					minimum: 0,
					maximum: 500,
					viewportMinimum: 0,
					viewportMaximum: 500,
					gridThickness: 0.8,
					margin: 1,
				},
				legend:{
					horizontalAlign: "left"
				},
				data: [{
					type: "scatter",
					markerSize: 12,
					// markerColor: "#5296be",
					// showInLegend: true,
					// legendText: "",
					legendMarkerType: "circle",
					legendMarkerColor: "grey",
					toolTipContent: "<b>{name}</b><br/>X position: {x}<br/> Y position: {y}",
					dataPoints: [
						{ x: 250, y: 250, name: "NEST", markerSize: 10, markerColor: "#ae2a2a", },
						{ x: 250, y: 250, name: "NDZ", markerSize: 175, markerColor: "rgba(100,149,237,0)", markerBorderColor: "rgba(174,42,42,0.5)", markerBorderThickness: 1.5, },
					],
				},
				{
					type: "scatter",
					markerSize: 12,
					// markerColor: "#5296be",
					// showInLegend: true,
					// legendText: "",
					legendMarkerType: "circle",
					legendMarkerColor: "grey",
					toolTipContent: "<b>{name}</b><br/>X position: {x}<br/> Y position: {y}",
					dataPoints: [
						// { x: 100, y: 100, name: "NEST22222", markerSize: 10, markerColor: "#ae2a2a", },
					],
				},
				]
			});
			chart.render();
			
			const render_drone = (drones) => {
				nest = {x: 250, y: 250, name: "NEST", markerSize: 10, markerColor: "#ae2a2a", }
				circle = { x: 250, y: 250, name: "NDZ", markerSize: 175, markerColor: "rgba(100,149,237,0)", markerBorderColor: "rgba(174,42,42,0.5)", markerBorderThickness: 1.5, }
				// console.log('drones_in_NDZ', drones.responseJSON.drones_in_NDZ.length)

				if (drones.responseJSON.drones_in_NDZ.length != 0) {
					chart.options.data[0].dataPoints = []
					drones.responseJSON.drones_in_NDZ.forEach((drone, idx) => {
						x = parseInt(drone.positionX) / 1000
						y = parseInt(drone.positionY) / 1000
						console.log('idx ', idx)
						console.log('x ', x, 'y', y)
						chart.options.data[0].dataPoints[0] = nest
						chart.options.data[0].dataPoints[1] = circle
						chart.options.data[0].dataPoints[idx+2] = {x: x, y: y, name: drone.serialNumber, }
					})
				} else {
					chart.options.data[0].dataPoints = []
					chart.options.data[0].dataPoints[0] = nest
					chart.options.data[0].dataPoints[1] = circle
				}

				if (drones.responseJSON.outside_NDZ.length != 0) {
					chart.options.data[1].dataPoints = []
					drones.responseJSON.outside_NDZ.forEach((drone, idx) => {
						x = parseInt(drone.positionX) / 1000
						y = parseInt(drone.positionY) / 1000
						// console.log('idx2 ', idx)
						// console.log('x2 ', x, 'y2', y)
						chart.options.data[1].dataPoints[idx] = {x: x, y: y, name: drone.serialNumber, markerColor: "green", }
					})
				}
				
				chart.render()
				// console.log('Length ', chart.options.data[0].dataPoints.length)
			}

			// AJAX get drone data
			const getDrones = (last_item_id) => {
				$.ajax({
					type: 'GET',
					url: '/update_data/',
					data: {
						'csrfmiddlewaretoken': '{{ csrf_token }}',
						'last_item_id': last_item_id
					},
					success: (response)=> {
						// console.log(response)
						last_item_id = response.last_item_id.last_item_id
						
						drones = response.drones_in_NDZ
						drones.slice().reverse().forEach(drone => {
							// if (parseInt(last_item_id) < drone.id) {
								$('#list_wrap').prepend(`
								<a href="/drone_info/${drone.id}%}">
									<div class="list">
										<div>
											<p class="bold">${drone.model} ${drone.manufacturer}</p>
											<p>${drone.serialNumber}</p>
										</div>
										<div>
											<p>X: ${drone.positionX}</p>
											<p>Y: ${drone.positionY}</p>
										</div>
										<div>
											<p class="bold">${drone.firstName} ${drone.lastName}</p>
											<p>${drone.pilotId}</p>
										</div>
										<div>
											<p>${drone.phoneNumber}</p>
											<p>${drone.email}</p>
										</div>
									</div>
								</a>			
								`)
							// }
							
						})
					},
					complete: function(drones) {
						// console.log(drones)
						render_drone(drones)
						setTimeout(() => {  getDrones(last_item_id); }, 2000)
					}
				})
			}
			setTimeout(() => {  getDrones('{{last_item_id}}'); }, 2000)
			
		})
	</script>
</head>

<body>
    <main class="container">
        <menu>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
				<div class="container-fluid">
					<a class="navbar-brand" href="{% url 'main' %}">
						<!-- <img src="{% static 'img/logo.png' %}" alt="" width="35" height="30" class="d-inline-block align-text-top"> -->
						<span>Birdnest project</span> 
					</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
						<!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
						<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="https://assignments.reaktor.com/birdnest/">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="https://github.com/SergeiVasilyev/PROJECT-BIRDNEST">Github</a>
						</li>
						</ul>
					</div>
				</div>
          </nav>
        </menu>
        <article class="mt-5">
            <h3>Scanning the no-fly zone</h3>
			<div class="device_wrap">
				<div class="device_info">
					<h4>Scanner information</h4>
					<div>
						<span>Device id: </span>
						<span class="field_name">{{drones_in_NDZ.0.device.deviceId}}</span>
					</div>
					<div>
						<span>Listen range: </span>
						<span class="field_name">{{drones_in_NDZ.0.device.listenRange}}</span>
					</div>
					<div>
						<span>Device started at: </span>
						<span class="field_name">{{drones_in_NDZ.0.device.deviceStarted|date:'d.m.Y'}}</span>
					</div>
					<div>
						<span>Uptime seconds: </span>
						<span class="field_name">{{drones_in_NDZ.0.device.uptimeSeconds}}</span>
					</div>
					<div>
						<span>Update interval: </span>
						<span class="field_name">{{drones_in_NDZ.0.device.updateIntervalMs}} ms</span>
					</div>
				</div>
				<div id="chartContainer" style="height: 500px; width: 500px;"></div>
			</div>

            <div class="columns mt-5">
				<p>drone info</p>
				<p>position</p>
				<p>pilot info</p>
				<p>contacts</p>
            </div>
			<div id="list_wrap">
				{% for drone in drones_in_NDZ %}
				<a href="{% url 'droneInfo' drone.id %}">
				<div class="list">
					<div>
						<p class="bold">{{drone.model}} {{drone.manufacturer}}</p>
						<p>{{drone.serialNumber}}</p>
					</div>
					<div>
						<p>X: {{drone.positionX}}</p>
						<p>Y: {{drone.positionY}}</p>
					</div>
					<div>
						<p class="bold">{{drone.pilot.firstName}} {{drone.pilot.lastName}}</p>
						<p>{{drone.pilot.pilotId}}</p>
					</div>
					<div>
						<p>{{drone.pilot.phoneNumber}}</p>
						<p>{{drone.pilot.email}}</p>
					</div>
				</div>
				</a>
				{% endfor %}
			</div>
        </article>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>